html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.area1 {
  width: 50%;
  height: 90%;
  padding: 5% 5%;
  background: #d2d0f5;
}

.area1A img {
  display: block;
  width: auto;
  height: 5vh;
  padding: 1vh 1vh 0 0;
  margin-bottom: 15%;
}

.area1 textArea {
  width: 85%;
  height: 60%;
  border: none;
  font-size: large;
  color: black;
  background: #d2d0f5;
  margin: 0 0 12% 15%;
}

.area1 textarea::placeholder {
  color: rgb(18, 18, 114);
  font-size: large;
}

.area1 textArea:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: black;
}

.buttonsArea {
  display: block;
  width: 100%;
}

.btnEncrypt {
  color: #ffffff;
  background: #0a3871;
  width: 45%;
  height: 7vh;
  border-radius: 15px 15px 15px 15px;
}

.btnEncrypt:hover {
  font-weight: bold;
}

.btnDecrypt {
  color: #0a3871;
  background: #ffffff;
  width: 45%;
  height: 7vh;
  border: 2px solid #0a3871;
  border-radius: 15px 15px 15px 15px;
}

.btnDecrypt:hover {
  font-weight: bold;
}

.area2 {
  width: 30%;
  height: 90%;
  padding: 5% 5%;
  background: #d2d0f5;
}

.area2A {
  width: auto;
  height: 90%;
  padding: 10% 5%;
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
}

.area2A p {
  word-wrap: break-word; /* Permite que el texto se ajuste al contenedor */
  white-space: normal; /* Permite el ajuste de líneas */
}

.area2A img {
  margin-top: 40%;
  width: 100%;
}

.area2A h3 {
  font-weight: bold;
  text-align: center;
  margin: 1em auto;
  word-wrap: break-word;
  white-space: normal;
  display: block;
}

.area2A h6 {
  font-size: smaller;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  display: block;
}
